<!-- <section>
  <h3>Welcome to Stack Overflow</h3>
  <img src="../../../../assets/apple-touch-icon@2.png" alt="" />
  <p>
    Stack Overflow is a question and answer site for professional and enthusiast
    programmers. It's built and run by you as part of the Stack Exchange network
    of Q&A sites. With your help, we're working together to build a library of
    detailed, high-quality answers to every question about programming. We're a
    little bit different from other sites. Here's how:
  </p>
</section> -->

<section>
  <ng-container *ngIf="allQuestion.length > 0">
    <div class="card" *ngFor="let question of allQuestion">
      <div class="left">
        <p>{{ question.votes }} votes</p>
        <p>0 answers</p>
        <p>{{ question.view }} views</p>
      </div>
      <div class="right">
        <h4 class="que" (click)="questionDetails(question.id)"> {{ question.question }}</h4>
        <p>tag</p>
        <p style="text-align: right">
          {{ question.user_name }} <br />
          {{ question.created }}
        </p>
      </div>
    </div>
  </ng-container>
</section>
