section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 20%;
  text-align: center;

}



.card{

  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  font-size: 16px;
}

.left p{
  text-align: right;
  margin-right: 20px;
}

.right p {
text-align: left;
}

h4{
  font-size: 20px;
}


.que{
  color: hsl(206,100%,40%);
  cursor: pointer;
}
.que:hover{
  color: hsl(206, 73%, 61%);

}
