<section>
  <ng-container *ngIf="question">
    <div class="row ">
     <div class="question">
      <div class="count">
        <i class="fa-solid fa-caret-up"></i><br><i class="fa-solid fa-caret-down"></i>
      </div>
      <main>
        <header>
          <h2>{{ question.question }}</h2>
          <br />
          <p>{{ question.created | date : "yyyy/MM/dd hh:mma" }}</p>
        </header>

        <p>{{ question.details }}</p>
        <p>{{ question.expecting }}</p>
      </main>
     </div>
    </div>
    <ng-container *ngIf="answers && answers.length > 0">
      <h1>{{ answers.length }} Answer</h1>
      <ng-container *ngFor="let ans of answers; let i = index">
        <div class="row">
          <div class="card">
            <p>{{ ans.answer }}</p>
            <div class="actions">
              <div class="action">
                <span (click)="editAnswer(ans, i)"> edit </span>
                <span (click)="deleteAnswer(ans.id, i)"> delete </span>
              </div>
              <div class="details">
                <h6>{{ ans.answer_user_name }}</h6>
                <p>{{ ans.created | date : "yyyy/MM/dd hh:mma" }}</p>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>

    <div class="row" id="answerForm">
      <form action="" [formGroup]="answerForm">
        <h6>Your Answer</h6>
        <textarea
          name="answer"
          formControlName="answer"
          id=""
          cols="30"
          rows="10"
        ></textarea>
        <button
          (click)="postAnswer()"
          *ngIf="!edit"
          [disabled]="answerForm.invalid"
        >
          Post Your Answer
        </button>
        <button
          (click)="updateAnswer()"
          *ngIf="edit"
          [disabled]="answerForm.invalid"
        >
          update answer
        </button>
      </form>
    </div>
  </ng-container>
</section>
